.pre {
    text-align: center;
  	padding-top: 50%;
    position: relative;
    color: #212121;
    font-size: 21px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: 14px solid #212121;
  
    &:before {
      text-align: center;
      padding-top: 50%;
      position: absolute;
      top: 0;
      left: 0;
      content: 'Kusno';
      color: #00ffff;
      border-bottom: 14px solid #00ffff;
      overflow: hidden;
      animation: loading 1s infinite linear;
    }
  }
  
  @keyframes loading {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }